.sodrzina{
    width: 400px;
    height: 500px;
    background: aqua;
    position: relative;
    margin: 50px auto;
    border-radius: 10px;
}
.firstSection{

    width: 100%;
    height: 200px;
    position: absolute;
    top:0;
    background:url("../images/office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.secondSection{
    width:100%;
    height: 50px;
    background: blue;
    position: absolute;
    top: 200px;
}
.arrowLeft{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 10px;
    background: url("../images/arrows2.png");
    background-position-x: 0px;
    background-position-y: 0px;


}
.thirdSection{
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: red;
    position: absolute;
    bottom:0;

}