.sodrzina{
    width: 400px;
    height: 500px;
    background: aqua;
    position: relative;
    margin: 50px auto;
    border-radius: 10px;
}
.firstSection{

    width: 100%;
    height: 200px;
    position: absolute;
    top:0;
    background:url("../images/office.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.secondSection{
    width:100%;
    height: 100px;
    background: blue;
    position: absolute;
    top: 200px;
}
.arrowLeft{
    width: 30px;
    height: 50px;
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 25px;
    background: url("../images/leftArrow.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


}
.arrowRight{
    width: 30px;
    height: 50px;
    display: inline-block;
    position: absolute;
    right: 25px;
    top: 25px;
    background: url("../images/leftArrow.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";


}

.h1Holder{
        display: inline-block;
        width: 60px;
        height: 20px;
        position: absolute;
        top: 40;
        left:160;
        background: red;
       
        
}
.thirdSection{
    width: 100%;
    height: 200px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: red;
    position: absolute;
    bottom:0;

}